<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.week7i.share"/>
    <!-- 配置任务线性池 -->

    <!--task:scheduler 参数pool主要解决，多个调度并行的问题-->
    <!--如果有5个scheduled-task任务，建议设置3到5个调度-->
    <!--如果配置参数为1，5个task任务会依次执行，如果一个时间超出，后面的任务一直在等待，影响业务-->

    <!--The size of the ScheduledExecutorService's thread pool. The default is 1.-->
    <task:scheduler id="annotationScheduler" pool-size="10"/>
    <!--The size of the executor's thread pool as either a single value or a range-->
    <!--(e.g. 5-10). If no bounded queue-capacity value is provided, then a max value-->
    <!--has no effect unless the range is specified as 0-n. In that case, the core pool-->
    <!--will have a size of n, but the 'allowCoreThreadTimeout' flag will be set to true.-->
    <!--If a queue-capacity is provided, then the lower bound of a range will map to the-->
    <!--core size and the upper bound will map to the max size. If this attribute is not-->
    <!--provided, the default core size will be 1, and the default max size will be-->
    <!--Integer.MAX_VALUE (i.e. unbounded).-->
    <task:executor id="annotationExecutor" pool-size="10"/>

    <!-- 启用annotation方式，在方法添加 @Scheduler，可以配置cron定时任务 -->
    <task:annotation-driven scheduler="annotationScheduler" executor="annotationExecutor" proxy-target-class="true"/>
    <!-- 如果不需要配置线性池，直接添加<task:annotation-driven />即可 -->

</beans>
